* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f9f9fb;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background: #fff;
  padding: 5rem 2rem;
  border-radius: 12px;
  box-shadow: 2px 2px 4px black;
}

section:hover {
  box-shadow: 2px 8px 16px black;
  transform: translateY(-10px);
  transition: all 1s ease;
}

form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 0.4rem;

  & label {
    font-size: 1.2rem;
  }

  & input {
    font-size: 1.2rem;
    padding: 0.3rem;
  }

  & input[type="submit"] {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    background: dodgerblue;
    color: #fff;
    font-weight: 600;
  }
}
