* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font: 16px/1.6 Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding-left: 1rem;
}
p {
  padding-left: 2rem;
}
button,
ul {
  margin: 1rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}

button {
  cursor: pointer;
}
