@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-text: #333;
  --background: #f9f9f9;
  --nav-active-text: #ff8000;
  --background-button: dodgerblue;
  --background-card: #f0ecec;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 1rem "Roboto", sans-serif;
  color: #333;
  background: var(--background);
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
}

.hero-section {
  display: flex;
  align-items: center;
  gap: 10rem;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.firstName {
  font-size: 7rem;
  text-transform: uppercase;
  color: #ff8000;
}

.lastName {
  font-size: 7rem;
  text-transform: uppercase;
  background: linear-gradient(to right, #ff8000, dodgerblue);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero p {
  font-size: 1.48rem;
}

.hero .title {
  font-size: 3rem;
  text-transform: uppercase;
  background: linear-gradient(to right, #e9c008, dodgerblue, rgb(194, 32, 20));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: 700;
}

.contact-wrapper ul {
  margin-left: -2rem;
  list-style: none;
  display: flex;
}

.profile {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: glow 1.5s infinite linear;
}

.profile img {
  width: 99%;
  height: 99%;
  border-radius: 50%;
}

.hero-button-section button {
  padding: 0.5rem 1rem;
  font-size: 1.7rem;
  background: dodgerblue;
  border: 2px solid dodgerblue;
  color: #f9f9fb;
  font-weight: 500;
  border-radius: 22px;
  cursor: pointer;
}

.hero-button-section button:hover {
  background: none;
  transition: 0.2s;
  color: dodgerblue;
}

h2 {
  text-transform: uppercase;
}

a {
  color: var(--primary-text);
  text-decoration: none;
  position: relative;
}

a::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 0;
  background: var(--nav-active-text);
  bottom: -2px;
  left: 0;
  transition: all 0.2s ease;
}

a:hover::after {
  width: 100%;
}

a:hover {
  color: var(--nav-active-text);
}

.active {
  color: var(--nav-active-text);
  position: relative;
}

.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 100%;
  background: var(--nav-active-text);
}

section {
  margin-left: 0.3rem;
  min-height: 100vh;
}

ul > li {
  margin-left: 2rem;
}

.form-wrapper {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

label {
  font-size: 1.4rem;
}

form input {
  padding: 0.5rem;
  font-size: 1.2rem;
}

form input[type="text"] {
  width: 300px;
}

form textarea {
  padding: 0.4rem;
  font-size: 1.4rem;
}

.btn-section {
  display: flex;
  margin-top: 0.5rem;
  gap: 0.2rem;
}

.btn-section input {
  flex: 1;
  font-size: 1rem;
  padding: 0.2rem 0;
  border: none;
  background: var(--background-button);
  border: 2px solid var(--background-button);
  border-radius: 4px;
  color: #f9f9fb;
  font-weight: 600;
  cursor: pointer;
}

.btn-section input:hover {
  background: none;
  color: var(--background-button);
  transition: 0.2s;
}

.service-container {
  margin-top: 2rem;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.service-container h2 {
  margin-left: 2rem;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2rem;
  padding: 2rem;
}

.card {
  padding: 0.5rem 1rem 0.5rem 1rem;
  background: var(--background-card);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

.card h3 {
  text-align: center;
  border-bottom: 2px solid var(--background-button);
  padding-bottom: 0.4rem;
}

.card hr {
  width: 90%;
  margin: 0.5rem auto;
}

.card ul {
  margin-left: 1rem;
  list-style: square;
}

.card .btn-wrapper {
  margin: 0;
  border-top: 1px solid var(--primary-text);
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.card .btn-wrapper button {
  margin-top: 0.4rem;
  flex: 1;
  font-size: 1rem;
  border: 2px solid var(--background-button);
  background: var(--background-button);
  padding: 0.2rem;
  color: var(--background);
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
}

.card .btn-wrapper button:hover {
  background: none;
  color: var(--background-button);
  transition: 0.3s;
}

.detail ul li {
  margin-top: 1rem;
}

@media (max-width: 1270px) {
  .hero-section {
    flex-direction: column-reverse;
  }

  main {
    justify-content: center;
  }

  .hero p {
    font-size: 1rem;
  }

  .firstName {
    font-size: 3rem;
  }

  .lastName {
    font-size: 3rem;
  }

  .hero .title {
    font-size: 2rem;
  }

  .hero-button-section button {
    font-size: 1.2rem;
  }

  .contact-wrapper ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .profile {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 749px) {
  .card .btn-wrapper {
    flex-direction: column-reverse;
  }

  .card .btn-wrapper button {
    width: 100%;
  }

  .service-container {
    height: auto;
  }
}

@keyframes glow {
  0% {
    box-shadow: 20px 10px 40px #ff8000;
  }
  25% {
    box-shadow: 10px 20px 40px dodgerblue;
  }
  50% {
    box-shadow: -20px 10px 40px #ff8000;
  }
  75% {
    box-shadow: 10px -20px 40px dodgerblue;
  }
  100% {
    box-shadow: 20px 10px 40px #ff8000;
  }
}
