@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  background: orange;
}

header nav a {
  color: black;
  text-decoration: none;
  position: relative;
}

a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 0;
  transition: width 0.3s ease-in-out;
  background: blue;
}

header nav a:hover::after {
  width: 100%;
}

header nav a:hover {
  color: blue;
}

body {
  font: 1.2rem "Lato", sans-serif;
  background: #212121;
  color: #fff;
}

a {
  color: white;
  text-decoration: none;
}
