* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 90%;
  margin: auto;
}

.container {
  display: flex;
  padding: 1rem;

  & a {
    position: relative;
    color: black;
    text-decoration: none;
  }

  & a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;
    height: 2px;
    width: 0%;
    background: #ff8000;
    transition: all 0.3s ease-in-out;
    transform: translate(-50%, -50%);
  }

  & a:hover::after {
    width: 100%;
  }

  & a:hover {
    color: #ff8000;
  }
}

.container1 {
  background: dodgerblue;
}

.container2 {
  justify-content: center;
  background: blue;

  & a {
    color: #fff;
  }
}

.container3 {
  justify-content: flex-end;
  background: peru;
}
